<a href="https://colab.research.google.com/github/valmirAdin/python-random-quote/blob/master/Arezzo_checkOptIn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [16]:
import pandas as pd
a = pd.read_csv("/content/Birchbox Winter 12.10.csv")
b = pd.read_csv("/content/FKL - Schutz Shoes Sweeps Final Opt-ins 06.02.19 (34,067).csv")
a = a.set_index('Email')
b = b.set_index('Email')
merged = a.merge(b, on='Email')
merged.to_csv("OptIn.csv", index=True)

In [15]:
a.head()

                                     Date Zip Code  ...  Gender             IP
Email                                               ...
busterjones75@yahoo.con    12/10/19 15:19     4106  ...  Female  107.77.194.22
Lindsay.kalaway@gmail.com  12/10/19 15:07    96790  ...  Female   76.88.160.76
puppiesnpinot@gmail.com    12/10/19 14:59    29412  ...  Female  69.153.28.184
brendamail5@aol.com        12/10/19 14:37    94124  ...  Female  24.130.126.54
connerys@comcast.net       12/10/19 14:34    30064  ...  Female  67.191.233.49

[5 rows x 5 columns]

In [12]:
b.head()

                           First Name Zip Code  ...     IP Address   Opt-in Date;
Email                                           ...
pinkpolony@gmail.com             Maya    44120  ...    99.34.112.5  5/3/19 11:39;
rpatrick1@zoominternet.net      Ronda    16001  ...  24.154.191.17  5/5/19 13:36;
mveatc@yahoo.com              Michael    67871  ...  70.167.57.234   5/6/19 8:58;
Berard1547@att.net               Debi    32068  ...    99.5.201.44   5/6/19 8:59;
glohh@cableone.net                NaN    83204  ...   160.2.46.159   5/6/19 9:57;

[5 rows x 6 columns]

In [9]:
df_filmes = pd.read_csv('/content/Birchbox Winter 12.10.csv')
df_filmes = df_filmes.set_index('Email')
df_filmes

                                     Date Zip Code  ...  Gender              IP
Email                                               ...
busterjones75@yahoo.con    12/10/19 15:19     4106  ...  Female   107.77.194.22
Lindsay.kalaway@gmail.com  12/10/19 15:07    96790  ...  Female    76.88.160.76
puppiesnpinot@gmail.com    12/10/19 14:59    29412  ...  Female   69.153.28.184
brendamail5@aol.com        12/10/19 14:37    94124  ...  Female   24.130.126.54
connerys@comcast.net       12/10/19 14:34    30064  ...  Female   67.191.233.49
...                                   ...      ...  ...     ...             ...
genicerill@hotmail.com      12/6/19 10:30    21048  ...  Female    64.98.246.10
mcauley12@optonline.net     12/6/19 10:22    11801  ...  Female   100.12.169.77
abynorml29@yahoo.com        12/6/19 10:12    32137  ...  Female  108.214.156.71
autumnbmitchell@gmail.com   12/6/19 10:00    27217  ...  Female   98.101.16.129
chicherbut@hotmail.com       12/6/19 9:54    21701  ...  Female  76.100.213.101

[1114 rows x 5 columns]